main {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    color: var(--primary-color);
}

.title {
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px 2px rgba(35,40,34,0.5);
}

.christianSpeaker {
    padding-bottom: 2rem;
}

ul {
    text-align: left;
}

.bookButton a {
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: 0.5rem;
    width: 25%;
    box-shadow: 4px 4px 0 rgba(35,40,34,0.5);
}

.bookButton a:hover,
.bookButton a:active {
    animation: removeBoxShadow 0.25s ease-in-out forwards;
}

@keyframes removeBoxShadow {
    0% {
        box-shadow: 4px 4px 0 rgba(35,40,34,0.5);
    }
    
    100% {
        box-shadow: none;
    }
}