body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.booking {
    padding-bottom: 1rem;
}

.bookButton {
    padding: 1rem;
    color: black;
    background-color: white;
    width: 80%;
    margin: 0 auto;
}

.bookButton a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.ministryConsultingReviews {
    background-image: url('images/reviews/reviewBackground.png');
    background-size: cover;
}

.slide {
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
    color: var(--primary-color);
    padding-bottom: 1rem;
}

.welcome h1 {
    margin-bottom: 0;
}

.welcome p {
    width: 90%;
    margin: 1rem auto;
}

.welcome a {
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    width: 80%;
    padding: 0.5rem;
    margin: 0 auto;
    box-shadow: 4px 4px 0 grey
}

.aboutChristianMinistryConsulting,
.aboutSoundFaithConsulting {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.aboutChristianMinistryConsulting div,
.aboutSoundFaithConsulting div {
    width: 75%;
    margin: 0 auto;
}

.aboutChristianMinistryConsulting div h1,
.aboutSoundFaithConsulting div h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.aboutChristianMinistryConsulting div p,
.aboutChristianMinistryConsulting div h1
.aboutSoundFaithConsulting div p,
.aboutSoundFaithConsulting div h1 {
    filter: brightness(85%);
}

.aboutSoundFaithConsulting {
    background-color: white;
    color: var(--primary-color)
}