@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --primary-color: #232822;
    --secondary-color: #2d342c;
}

html,
body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
}

nav a {
    text-decoration: none;
    color: white;
}

#desktopNavigation {
    display: none;
}

.mobileBackdrop {
    background-color: var(--primary-color);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
    display: none;
}

.mobileNav {
    text-align: center;
    justify-content: center;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 4rem;
    z-index: 2;
    width: 100vw;
    row-gap: 2rem;
}

#mobileNavigation {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
}

#hamburger {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 1.5rem;
    width: 2rem;
    justify-content: space-between;
}

#hamburger div {
    background-color: white;
    height: 0.15rem;
}

.buyChristianMinistryBooks {
    padding: 1rem;
}


footer {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 200px;
    margin: 0.5rem auto;
    justify-content: space-between
}

footer h4 {
    font-size: 0.5rem;
}

.smsIcon {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.carousel {
    width: 100%;
    position: relative;
    height: 375px;
    margin-bottom: 1rem;
}

.carousel .left-slide,
.carousel .right-slide {
    display: inline-block;
    position: relative;
    bottom: 245px;
    color: darkslategrey;
    font-weight: bold;
    font-size: 4rem;
    transition: all .5s ease;
    cursor: pointer;
}

.carousel .left-slide {
    left: -130px;
}

.carousel .right-slide {
    right: -130px;
}

.carousel .left-slide:hover,
.carousel .right-slide:hover {
    color: lightgrey;
}

.carousel .carouselItems .slide img {
    max-width: 100%;
    display: block;
}

.carousel .carouselItems .slide {
    display: none;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.carousel .carouselItems .slide .caption {
    position: relative;
    width: 65%;
    bottom: 50px;
    text-align: center;
    background-color: white;
    padding: 0.5rem;
    color: var(--primary-color);
    box-shadow: 4px 4px 0 grey
}

.carousel .carouselItems .slide.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 750px) {
    #mobileNavigation {
        display: none;
    }

    header {
        justify-content: center;
    }

    #desktopNavigation {
        display: flex;
        justify-content: space-between;
        justify-content: center;
        height: 100%;
        align-items: center;
        column-gap: 2rem;
    }

    #desktopNavigation a:hover {
        filter: brightness(85%)
    }

    .buyChristianMinistryBooks {
        cursor: pointer;
    }

    .buyChristianMinistryBooks:hover {
        filter: brightness(85%)
    }
}