main h1 {
    text-align: center;
}

.ministryConsultingServices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    width: 90%;
    margin: 0 auto;
}

.ministryConsultingServices h1 {
    margin-bottom: 0;
}

.ministryConsultingServices h2 {
    font-size: 0.9rem;
}

.ministryConsultingService {
    padding: 1rem;
    border-bottom: thin white solid;
    align-self: flex-start;
    width: 90%
}

.ministryConsultingService:nth-child(2) {
    padding-top: 0;
}

.ministryConsultingService:last-child {
    border-bottom: none;
}

.ministryConsultingService li {
    line-height: 1.5rem;
    margin-bottom: 0.15rem;
}

.bookMinistryConsultant {
    background-color: white;
    color: var(--secondary-color);
    width: 100%;
    justify-content: center;
}

.ministryConsultantBookingOption {
    padding-bottom: 1rem;
}

.ministryConsultantBookingOption div.bookingText {
    padding-left: 2rem;
}

.ministryConsultantBookingOption div.price {
    display: flex;
    justify-content: first baseline;
}

.ministryConsultantBookingOption div.price h3:first-child {
    border-right: thin var(--primary-color) solid;
    padding-right: 1rem;
}

.ministryConsultantBookingOption div.price h3:last-child {
    padding-left: 1rem;
}

.bookMinistryConsultantButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.ministryConsultantBookingOption a {
    color: white;
    padding: 1rem;
    width: 80%;
    background-color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    margin: 0.5rem auto;
    text-align: center;
    letter-spacing: 0.1rem;
    box-shadow: 4px 4px 0 grey
}

.ministryConsultantBookingOption a:visited,
.ministryConsultantBookingOption a:active {
    color: inherit;
}

@media screen and (min-width: 750px) {
    .ministryConsultingServices {
        width: 100%;
        flex-direction: row;
        column-gap: 2rem;
        row-gap: 2rem;
        flex-wrap: wrap;
        padding-bottom: 2rem;
    }

    .ministryConsultingService {
        background-color: white;
        color: var(--primary-color);
        box-shadow: 4px 4px 0 lightgrey;
        width: 500px;
        height: 325px;
        border-bottom: none;
    }

    .ministryConsultingService:nth-child(2) {
        padding-top: 1rem;
    }

    .ministryConsultingService:hover {
        animation: slideUp 0.5s ease-in-out forwards;
    }

    .bookMinistryConsultant {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
        row-gap: 1rem;
        background-color: var(--primary-color);
    }

    .ministryConsultantBookingOption {
        width: 375px;
        background-color: white;
    }

    .ministryConsultantBookingOption img {
        height: 250px;
        width: 375px;
    }

    .ministryConsultantBookingOption a:hover {
        animation: collapseShadow 0.5s ease-in-out forwards;
    }

    @keyframes slideUp {
        0% {
            transform: translateY(0px)
        }
        100% {
            transform: translateY(-8px)
        }
    }

    @keyframes collapseShadow {
        0% {
            box-shadow: 4px 4px 0 grey
        }
        100% {
            box-shadow: none;
        }
    }
}