body {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh
}

main {
    flex-grow: 1;
    background-color: white;
    color: var(--primary-color);
}

.aboutChristianConsulting img {
    width: 100%;
}

.aboutChristianConsulting div.text {
    width: 90%;
    margin: 0 auto;
}

